

@mixin flexible($display, $direction, $wrap, $align, $justify){

    display: $display;
    flex-flow: $direction $wrap;
    align-items: $align;
    justify-content: $justify;
}

@mixin colorized($color, $background-color){
    color: $color;
    background-color: $background-color;
}

@mixin spaceling($margin:0, $padding:0){
    margin: $margin;
    padding: $padding;
}

@mixin text-type($font-size, $font-weight:normal, $text-transform:none){
    font-size:$font-size;
    font-weight:$font-weight;
    text-transform:$text-transform;
}