
//Colors//
$color-primary:black;
$color-secundary:white;
$color-third: gray;
$color-principal-card:red;
$color-fourth:rgba(235, 235, 235, 1)gray;

//Font//
$font-family:Monospace, Arial, Sans-Serif;
$size-px:20px;